name: Laravel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up PHP
      uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.1'
    - name: List files
      run: ls -la
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('env.example', '.env');"
    - name: Install Dependencies
      run: |
        composer install 
        composer update
    - name: Generate key
      run: php artisan key:generate
    - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
      run: php artisan test
